@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container_bg {
  background-image: url("../assets/images/mobile-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .container_bg {
    background-image: url("../assets/images/desktop-background.png");
  }
}

